/.idea/*
/target/*
/build/*
/test-output/*
/src/test/java/ru/otr/eb_tse_demo_ufos_28080/Sandbox.java
/debug.log
/test_suites/eb_tse_demo_ufos_28080/partial_run.xml
/test_suites/eb_tse_demo_ufos_28080/partiol_run2.xml
