<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="REC_all_tests" parallel="tests" verbose="1" thread-count="1">
    <parameter name="runMode" value="remote"/>

<!--    <test name="REC_all_tests_agroexpress" thread-count="1" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_10"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_20"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_40"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_50"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_60"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_70"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_80"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_90"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_100"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_110_1"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_110_2"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_120"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_130"/>-->
<!--            <class name="ru.exportcenter.test.agroexpress.Test_03_07_02_1_new.Test_03_07_02_1_140"/>-->
<!--        </classes>-->
<!--    </test>-->

    <!-- test name="REC_all_tests_patents" thread-count="1" preserve-order="true">
        <classes>
            <class name="ru.exportcenter.test.patents.Test_02_08_02_1"/>
            <class name="ru.exportcenter.test.patents.Test_02_08_02_3"/>
            <class name="ru.exportcenter.test.patents.Test_02_08_02_4"/>
            <class name="ru.exportcenter.test.patents.Test_02_08_02_8"/>
            <class name="ru.exportcenter.test.patents.Test_02_08_02_9"/>
        </classes>
    </test -->

<!--    <test name="REC_all_test_finplatforma" thread-count="1" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_02" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_03" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_04" />-->
<!--&lt;!&ndash;            <class name="ru.exportcenter.test.finplatforma.Test_08_10_06" />&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="ru.exportcenter.test.finplatforma.Test_08_10_14" />&ndash;&gt;-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_15" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_17" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_19" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_22" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_23" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_24" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_25" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_26" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_27" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_29" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_30" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_31" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_32" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_33" />-->
<!--            <class name="ru.exportcenter.test.finplatforma.Test_08_10_34" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="analytics_ESC" thread-count="1" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="ru.exportcenter.test.analytics_ESC.test_11_08_01.Test_64_69" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="REC_all_tests_apk" thread-count="1" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_01_1"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_05_2"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_09_1"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_10_1"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_11_1"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_32_1"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_44.Test_01_07_44_1"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_44.Test_01_07_44_2"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_44.Test_01_07_44_3"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_44.Test_01_07_44_4"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_44.Test_01_07_44_5"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_02_07_00.Test_02_07_00_1"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_02_07_00.Test_02_07_00_2"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_02_07_00.Test_02_07_00_3"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_02_1"/>-->
<!--            <class name="ru.exportcenter.test.apk.Test_01_07_05_1"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="REC_all_tests_pavilion" thread-count="1" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="ru.exportcenter.test.pavilion.Test_04_07_01"/>-->
<!--            <class name="ru.exportcenter.test.pavilion.Test_04_07_02"/>-->
<!--            <class name="ru.exportcenter.test.pavilion.Test_04_07_03"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="SPT" thread-count="1" preserve-order="true">
        <classes>
            <class name="ru.exportcenter.test.spt.Test_07_07_19" />
        </classes>
    </test>-->


<!--    <test name="REC_all_tests_vet" thread-count="1" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="ru.exportcenter.dev.vet.Test_08_07_03"/>-->
<!--        </classes>-->
<!--    </test>-->

        <test name="REC_all_tests_vet" thread-count="1" preserve-order="true">
            <classes>
                <class name="ru.exportcenter.dev.vet.Test_08_07_01"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_02"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_03"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_04"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_05"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_07"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_08"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_13"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_14"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_15"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_19"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_21"/>
                <class name="ru.exportcenter.dev.vet.Test_08_07_22"/>
            </classes>
        </test>

</suite>